T3/SDWCF/GameManager/Service References/TP3/Game.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Game" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50338/Game.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50338/Game.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGamePlayer_SetPlay_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPlay" />
  </wsdl:message>
  <wsdl:message name="IGamePlayer_SetPlay_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPlayResponse" />
  </wsdl:message>
  <wsdl:message name="IGameManager_StartGame_InputMessage">
    <wsdl:part name="parameters" element="tns:StartGame" />
  </wsdl:message>
  <wsdl:message name="IGameManager_StartGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameManager_EndGame_InputMessage">
    <wsdl:part name="parameters" element="tns:EndGame" />
  </wsdl:message>
  <wsdl:message name="IGameManager_EndGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:EndGameResponse" />
  </wsdl:message>
  <wsdl:portType name="IGamePlayer">
    <wsdl:operation name="SetPlay">
      <wsdl:input wsaw:Action="http://tempuri.org/IGamePlayer/SetPlay" message="tns:IGamePlayer_SetPlay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGamePlayer/SetPlayResponse" message="tns:IGamePlayer_SetPlay_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IGameManager">
    <wsdl:operation name="StartGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameManager/StartGame" message="tns:IGameManager_StartGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameManager/StartGameResponse" message="tns:IGameManager_StartGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EndGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameManager/EndGame" message="tns:IGameManager_EndGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameManager/EndGameResponse" message="tns:IGameManager_EndGame_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGamePlayer" type="tns:IGamePlayer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetPlay">
      <soap:operation soapAction="http://tempuri.org/IGamePlayer/SetPlay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IGameManager" type="tns:IGameManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartGame">
      <soap:operation soapAction="http://tempuri.org/IGameManager/StartGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndGame">
      <soap:operation soapAction="http://tempuri.org/IGameManager/EndGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Game">
    <wsdl:port name="BasicHttpBinding_IGamePlayer" binding="tns:BasicHttpBinding_IGamePlayer">
      <soap:address location="http://localhost:50338/Game.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IGameManager" binding="tns:BasicHttpBinding_IGameManager">
      <soap:address location="http://localhost:50338/Game.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>