T3/SDWCF/GameManager/Service References/ServiceReference1/Game2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Silverlight" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Silverlight" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Silverlight/Imports">
      <xsd:import schemaLocation="http://localhost:50338/Game.svc?xsd=xsd0" namespace="Silverlight" />
      <xsd:import schemaLocation="http://localhost:50338/Game.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50338/Game.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.ServiceModel" />
      <xsd:import schemaLocation="http://localhost:50338/Game.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGamePlayer_SetPlay_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPlay" />
  </wsdl:message>
  <wsdl:message name="IGamePlayer_SetPlay_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPlayResponse" />
  </wsdl:message>
  <wsdl:message name="IGamePlayer_newAnnounce_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:newAnnounce" />
  </wsdl:message>
  <wsdl:message name="IGamePlayer_newAnnounce_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:newAnnounceResponse" />
  </wsdl:message>
  <wsdl:message name="IGamePlayer_newAnnounce_FaultExceptionOf_StringFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q1:FaultExceptionOfstring" />
  </wsdl:message>
  <wsdl:portType name="IGamePlayer">
    <wsdl:operation name="SetPlay">
      <wsdl:input wsaw:Action="Silverlight/IGamePlayer/SetPlay" message="tns:IGamePlayer_SetPlay_InputMessage" />
      <wsdl:output wsaw:Action="Silverlight/IGamePlayer/SetPlayResponse" message="tns:IGamePlayer_SetPlay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="newAnnounce">
      <wsdl:output wsaw:Action="Silverlight/IGamePlayer/newAnnounce" message="tns:IGamePlayer_newAnnounce_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="Silverlight/IGamePlayer/newAnnounceResponse" message="tns:IGamePlayer_newAnnounce_InputCallbackMessage" />
      <wsdl:fault wsaw:Action="Silverlight/IGamePlayer/newAnnounceFaultExceptionOf_StringFault" name="FaultExceptionOf_StringFault" message="tns:IGamePlayer_newAnnounce_FaultExceptionOf_StringFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>